/*  
Skin Name: Pink
Version: 1.0
Description: Skin for Phototouch
*/

/************************************************************************************
GENERAL
*************************************************************************************/
body {
	background-color: #78686f;
	color: #d7d2d4;
}
a {
	color: #ece8b8;
}

/* input */
input[type=text], input[type=password], textarea, input[type=search], input[type=email] {
	background-color: #4e474c;
}


/************************************************************************************
HEADER
*************************************************************************************/
/* top bar */
#top-bar {
	background-color: #94326c;
}

/* site description */
#site-description {
	color: #ead9df;
}

/* main nav */
#main-nav a {
	color: #ead9df;
}

/************************************************************************************
COMMENTS
*************************************************************************************/
.commentlist {
	border-color: #54494d;
}
.commentlist .commententry {
	border-color: #54494d;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
.widget li {
	border-color: #54494d;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap {
	background-color: #94326c;
}