/*  
Skin Name: Orange
Version: 1.0
Description: Skin for Phototouch
*/

/************************************************************************************
GENERAL
*************************************************************************************/
body {
	background-color: #633f2e;
	color: #d1c6c1;
}
a {
	color: #d4d4b3;
}

/* input */
input[type=text], input[type=password], textarea, input[type=search], input[type=email] {
	background-color: #43332b;
}


/************************************************************************************
HEADER
*************************************************************************************/
/* top bar */
#top-bar {
	background-color: #a8400e;
}

/* site description */
#site-description {
	color: #eac4b2;
}

/* main nav */
#main-nav a {
	color: #eac4b2;
}

/************************************************************************************
COMMENTS
*************************************************************************************/
.commentlist {
	border-color: #452c20;
}
.commentlist .commententry {
	border-color: #452c20;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
.widget li {
	border-color: #452c20;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap {
	background-color: #a8400e;
}