/*  
Skin Name: Blue
Version: 1.0
Description: Skin for Phototouch
*/

/************************************************************************************
GENERAL
*************************************************************************************/
body {
	background-color: #4b5b64;
	color: #aab2b7;
}

/* input */
input[type=text], input[type=password], textarea, input[type=search], input[type=email] {
	background-color: #353e44;
}


/************************************************************************************
HEADER
*************************************************************************************/
/* top bar */
#top-bar {
	background-color: #36506f;
}

/* site description */
#site-description {
	color: #c3ccd8;
}

/* main nav */
#main-nav a {
	color: #c3ccd8;
}

/************************************************************************************
COMMENTS
*************************************************************************************/
.commentlist {
	border-color: #323c42;
}
.commentlist .commententry {
	border-color: #323c42;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
.widget li {
	border-color: #323c42;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap {
	background-color: #36506f;
}