/*  
Skin Name: Minimal
Version: 1.0
Description: Skin for Phototouch
*/

/************************************************************************************
GENERAL
*************************************************************************************/
body {
	background: #444;
}

/* input */
input[type=text], input[type=password], textarea, input[type=search], input[type=email] {
	background-color: #1e1e1e;
}


/************************************************************************************
HEADER
*************************************************************************************/
/* top bar */
#top-bar {
	background: #000;
}

/* site description */
#site-description {
	color: #bdc1bd;
}

/* main nav */
#main-nav a {
	color: #bdc1bd;
}

/************************************************************************************
COMMENTS
*************************************************************************************/
.commentlist {
	border-color: #333;
}
.commentlist .commententry {
	border-color: #333;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
.widget li {
	border-color: #333;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap {
	background: #000;
}