/*  
Skin Name: Green
Version: 1.0
Description: Skin for Phototouch
*/

/************************************************************************************
GENERAL
*************************************************************************************/
body {
	background-color: #5a6359;
	color: #ced1ce;
}
a {
	color: #e4e0af;
}

/* input */
input[type=text], input[type=password], textarea, input[type=search], input[type=email] {
	background-color: #3f4541;
}


/************************************************************************************
HEADER
*************************************************************************************/
/* top bar */
#top-bar {
	background-color: #467116;
}

/* site description */
#site-description {
	color: #bdc1bd;
}

/* main nav */
#main-nav a {
	color: #bdc1bd;
}

/************************************************************************************
COMMENTS
*************************************************************************************/
.commentlist {
	border-color: #3f453e;
}
.commentlist .commententry {
	border-color: #3f453e;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
.widget li {
	border-color: #3f453e;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap {
	background-color: #467116;
}