/*  
Skin Name: Gray
Version: 1.0
Description: Skin for Phototouch
*/

/************************************************************************************
GENERAL
*************************************************************************************/
body {
	background-color: #6f6f6f;
	color: #bbb;
}
a {
	color: #fff;
}

/* input */
input[type=text], input[type=password], textarea, input[type=search], input[type=email] {
	background-color: #494b4c;
}


/************************************************************************************
HEADER
*************************************************************************************/
/* top bar */
#top-bar {
	background-color: #4b4b4b;
}

/* site description */
#site-description {
	color: #e3e3e3;
}

/* main nav */
#main-nav a {
	color: #e3e3e3;
}

/************************************************************************************
COMMENTS
*************************************************************************************/
.commentlist {
	border-color: #4d4d4d;
}
.commentlist .commententry {
	border-color: #4d4d4d;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
.widget li {
	border-color: #4d4d4d;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap {
	background-color: #4b4b4b;
}