/*  
Skin Name: Brown
Version: 1.0
Description: Skin for Phototouch
*/

/************************************************************************************
GENERAL
*************************************************************************************/
body {
	background-color: #625649;
	color: #d0cdc9;
}
a {
	color: #e4e0af;
}

/* input */
input[type=text], input[type=password], textarea, input[type=search], input[type=email] {
	background-color: #433e39;
}


/************************************************************************************
HEADER
*************************************************************************************/
/* top bar */
#top-bar {
	background-color: #502a06;
}

/* site description */
#site-description {
	color: #c0bbb6;
}

/* main nav */
#main-nav a {
	color: #c0bbb6;
}

/************************************************************************************
COMMENTS
*************************************************************************************/
.commentlist {
	border-color: #443c33;
}
.commentlist .commententry {
	border-color: #443c33;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
.widget li {
	border-color: #443c33;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap {
	background-color: #502a06;
}