/*  
Skin Name: Purple
Version: 1.0
Description: Skin for Phototouch
*/

/************************************************************************************
GENERAL
*************************************************************************************/
body {
	background-color: #3c364f;
	color: #9f9ca8;
}
a {
	color: #d4d4b3;
}

/* input */
input[type=text], input[type=password], textarea, input[type=search], input[type=email] {
	background-color: #292733;
}


/************************************************************************************
HEADER
*************************************************************************************/
/* top bar */
#top-bar {
	background-color: #2e214f;
}

/* site description */
#site-description {
	color: #aba6b9;
}

/* main nav */
#main-nav a {
	color: #aba6b9;
}

/************************************************************************************
COMMENTS
*************************************************************************************/
.commentlist {
	border-color: #2a2638;
}
.commentlist .commententry {
	border-color: #2a2638;
}

/************************************************************************************
SIDEBAR
*************************************************************************************/
.widget li {
	border-color: #2a2638;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap {
	background-color: #2e214f;
}